﻿
@{
    ViewBag.Title = "Busqueda";
}

<h2>Busqueda Multiples</h2>
<div style="width:90%; margin:0 auto">
    @* busqueda por area*@
    <div style="background-color:#f5f5f4; padding:20px">
        <h2> Busqueda Panel</h2>
        <table>
            <tbody>
                <tr>
                    <td>Nombre</td>
                    <td><input type="text" id="txtNombre" /></td>
                    <td>Plan</td>
                    <td>
                        <select id="ddplan" style="width:200px">
                            <option value="">Todos Planes</option>
                            <option value="Oro">Oro</option>
                            <option value="Premium">Premium</option>
                            <option value="Bronce">Bronce</option>
                        </select>
                    </td>
                    <td>
                        <input type="button" value="Busqueda" id="btnBusqueda"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table id="miTable" class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Sucursal</th>
                    <th>Plan</th>
                    <th>Nombre</th>
                    <th>Cedula</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Fecha</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@* Consulta datatable *@
<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
@* jquery*@
@section Scripts{
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {

            //jQuery DataTables initialization
            $('#myTable').DataTable({
                "processing": true, // for show processing bar
                "serverSide": true, // for process on server side
                "orderMulti": false, // for disable multi column order
                "dom" : '<"top"i>rt<"bottom"lp><"clear">', // for hide default global search box // little confusion? don't worry I explained in the tutorial website
                "ajax": {
                    "url": "/ClientesMultiples/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns" : [
                        { "data": "Sucursal", "name": "Sucursal", "autoWidth": true }, //index 0
                        { "data": "Plan", "name": "Plan", "autoWidth": true }, //index 1
                        { "data": "Nombre", "name": "Phone", "autoWidth": true },             //index 2
                        { "data": "Cedula", "name": "Cedula", "autoWidth": true },         //index 3
                        { "data": "Direccion", "name": "Direccion", "autoWidth": true },               //index 4
                        { "data": "Telefono", "name": "Telefono", "autoWidth": true },   //index 5
                        { "data": "Fecha", "name": "Fecha", "autoWidth": true },   //index 
                    ]
            });

            //Apply Custom search on jQuery DataTables here
            oTable = $('#myTable').DataTable();
            $('#btnBusqueda').click(function () {
                //Apply search for Employee Name // DataTable column index 0
                oTable.columns(2).search($('#txtNombre').val().trim());
                //Apply search for Country // DataTable column index 3
                oTable.columns(1).search($('#ddplan').val().trim());
                //hit search on server
                oTable.draw();
            });
        });
    </script>
}
