﻿@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>

    <h1>Para contactos Favor Llamar a la Sucursal corespondiente.</h1>
   <h1>Telefono y Ubicacion de Nuestra Sucursales</h1><br />
    <abbr title="Telefono"></abbr>
    <h3> Santo Domingo (EL 14 Aut. Duarte): 809-745-1020</h3>
    <h3>San Cristobal (La central # 28)  : 809-520-2830</h3> <br />
    <h3> San Cristobal (Cambita por la pista # 10)  : 809-520-2830</h3><br />
   </div>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>