﻿@model IEnumerable<Funerarias.Models.Cliente>

@{
    ViewBag.Title = "Consulta";
}

<h2>Consultar Clientes</h2>
<div class=" panel panel-primary">
    <div class="panel-heading">Consulta</div>
    <div class="panel-body">
        <div>

            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Planes")
                        </th>
                        <th>
                            @Html.DisplayName("sucursal")
                        </th>

                        <th>
                            @Html.DisplayName("Nombre")
                        </th>
                        <th>
                            @Html.DisplayName("Cedula")
                        </th>
                        <th>
                            @Html.DisplayName("Direccion")
                        </th>
                        <th>
                            @Html.DisplayName("Telefono")
                        </th>
                        <th>
                            @Html.DisplayName("Fecha")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.plan.descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sucursal.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cedula)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Direccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>