﻿@model IEnumerable<Funerarias.Models.Cliente>
<br /><br />
<div class="container">
    <b>Buscar Por :</b>
    <select id="buscarPor">
        <option value="nombre">nombre</option>
        <option value="sucursal">Sucursal</option>
    </select><br /><br />
    @Html.TextBox("Buscar")<input type="submit" id="buscarbtn" value="Buscar" class="btn btn-primary"/> <br /><br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ClienteId</th>
                <th>Sucursal</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody id="DataBuscar">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ClienteId</td>
                    <td>@item.SucursalId</td>
                    <td>@item.Nombre</td>
                    <td>@item.Apellido</td>
                    <td>@item.Direccion</td>
                    <td>@item.Telefono</td>
                    <td>@item.Fecha</td>
                </tr>
            }
            <tr></tr>
        </tbody>

    </table>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#buscarbtn").keyup(function () {
            var buscarpor = $("#buscarPor").val();
            var buscarValue = $("#Buscar").val();
            var SetData = $("#DataBuscar");
            SetData.html("");
            $.ajax({
                type: "post",
                url: "/Home/GetSearchingData?buscarpor=" + buscarpor + "&buscarValue=" + buscarValue,
                contentType: "html",
                success: function (result) {
                    if (result == 0) {
                        SetData.append('<tr style="color:red"><td  colspan="3">No hay registro </td></tr>')
                    }
                    else {
                        $.each(result, function (index, value) {
                            var data = "<tr>" +
                                "<td>" + value.ClienteId + "</td>" +
                                "<td>" + value.SucursalId + "</td>" +
                                "<td>" + value.Nombre + "</td>" +
                                "<td>" + value.Apellido + "</td>" +
                                "<td>" + value.Direccion + "</td>" +
                                "<td>" + value.Telefono + "</td>" +
                                "<td>" + value.Fecha + "</td>" +
                                "<tr>";
                            SetData.append(data);
                        });
                    }
                }
            });
        });
    });
</script>