﻿@model IEnumerable<Funerarias.Models.Producto>

@{
    ViewBag.Title = "Productos";
}

<h2>Listado de Producto</h2>
<div class=" panel panel-info">
    <div class="panel-heading">Consulta</div>
    <div class="panel-body">
        <div>

            <p>
                @Html.ActionLink("Nuevo Producto", "Create", null, new { @class = "btn btn-success" })
                @*@using (Html.BeginForm("Busqueda"))
                {
                    <p>
                        Busqueda por Descripcion : @Html.TextBox("descripcion")<br />
                        <input type="submit" value="Busqueda"/>
                       @* Nombre de Productos @Html.DropDownList("productoId",String.Empty)
                    </p>

                }*@
            </p>
            <p>
                <h2> Buscar por Producto: @Html.TextBox("Nombre cliente")</h2>
                <div class="panel-footer">
                    @Html.ActionLink("Agregar", "product", "Product", null, new { @class = "btn btn-success" })
                    <input value="Consultar" class="btn btn-primary" />
                </div>


            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.precio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cantidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.stock)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.stock)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.productoId }, new { @class = "btn btn-warning" }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.productoId }, new { @class = "btn btn-info" }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.productoId }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>
</div>