﻿@model IEnumerable<Funerarias.Models.Sucursal>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Sucursales</h2>


<div class=" panel panel-info">
    <div class="panel-heading">Consulta</div>
    <div class="panel-body">
        <div>

            <p>
                @Html.ActionLink("Nueva Sucursal", "Create" ,null, new { @class = "btn btn-success" })
            </p>
            <p>
                <h2> Buscar por Sucursal: @Html.TextBox("nombre ciudad")</h2>
                <div class="panel-footer">
                    @Html.ActionLink("Agregar", "product", "Product", null, new { @class = "btn btn-success" })
                    <input value="Consultar" class="btn btn-primary" />
                </div>

            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Direccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.SucursalId }, new { @class ="btn btn-warning"}) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.SucursalId }, new { @class = "btn btn-info" }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.SucursalId }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>

        </div>

    </div>
</div>
