﻿@model PagedList.IPagedList<Funerarias.Models.Cliente>
       @using PagedList
       @using PagedList.Mvc
@{
    ViewBag.Title = "Clientes";
}

<h2>Listado de Clientes</h2>
<div class=" panel panel-primary">
    <div class="panel-heading">Consulta</div>
    <div class="panel-body">
        <div>
            <p>
                @Html.ActionLink("Nuevo Cliente", "Create", null, new { @class = "btn btn-success" })
                @Html.ActionLink("consulta Clientes", "Index", null, new { @class = "btn btn-primary" })
            </p>
         
         
            @*<for<m method="get" action="~/Controllers/cliente/ConsultaCliente">
                <p>
                    
                 <input type="search" name="NombreCliente" />
                  <input type="submit" value="Consultar" /> <input type="submit" value="Mostrar Todos" />

                </p>
            </form>*@
         
            <p>
                <h2> Buscar por nombre: @Html.TextBox("Nombre cliente")</h2>
                <div class="panel-footer">
                    @Html.ActionLink("Agregar", "product", "Product", null, new { @class = "btn btn-success" })
                    <input value="Consultar" class="btn btn-primary" />
                </div>

            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayName("sucursal")
                    </th>
                    <th>
                        @Html.DisplayName("Plan")
                    </th>
                    <th>
                        @Html.DisplayName("Nombre")
                    </th>
                    <th>
                        @Html.DisplayName("Cedula")
                    </th>
                    <th>
                        @Html.DisplayName("Direccion")
                    </th>
                    <th>
                        @Html.DisplayName("Telefono")
                    </th>
                    <th>
                        @Html.DisplayName("Fecha")
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.sucursal.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.plan.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cedula)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.ClienteId }, new { @class = "btn btn-warning" }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.ClienteId }, new { @class = "btn btn-info" }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.ClienteId }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
            pagina @Model.PageNumber de @Model.PageCount
            @Html.PagedListPager(Model, Page => Url.Action("Index", new {pagina = Page }))

        </div>
    </div>
</div>