﻿@model IEnumerable<Funerarias.Models.Plan>

@{
    ViewBag.Title = "Planes";
}

<h2>Nuevos Planes Funerarios</h2>
<div class=" panel panel-primary">
    <div class="panel-heading">Consulta</div>
    <div class="panel-body">
        <div>

            <p>
                @Html.ActionLink("Crear Planes", "Create", null, new { @class = "btn btn-success" })
                 <input value="Consultar" class="btn btn-primary" />
            </p>
            <p>
                <h2> Buscar por nombre: @Html.TextBox("Nombre cliente")</h2>
                <div class="panel-footer">
                  @* <h1>Detalle de los planes</h1>*@ 
                </div>

            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.precio)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.precio)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.PlanId }, new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.PlanId }, new { @class = "btn btn-info" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.PlanId }, new { @class = "btn btn-warning" })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>
