﻿
@{
    ViewBag.Title = "Listado de Clientes";
}

<h2>Listado de Clientes</h2>

<table id="clienteTable" class="display">
    <thead>
        <tr>
            <th>Sucursal</th>
            <th>Planes</th>
            <th>Nombre</th>
            <th>Cedula</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Fecha</th>
        </tr>
    </thead>
</table>
<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
    <script src=//cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js></script>
    <script>
        $(document).ready(function () {
            $("#clienteTable").DataTable({
                "ajax": {
                    "url": "/ConsultaCliente1/GetList",
                    "type": "GET",
                    "datatype":"json"
                },
                "columns": [
                    { "data": "Sucursal" },
                    { "data": "Planes" },
                    { "data": "Nombre" },
                    { "data": "Cedula" },
                    { "data": "Direccion" },
                    { "data": "Telefono" },
                    { "data": "Fecha" },
                ],
                "dom": "Bfrtip",
                "buttons":['copy','excel','csv','pdf','print']
            });

        });
    </script>
    
    }